<div class="post-details-section">
  <div class="flex flex-column a-i-center like-section" *ngIf="post?.valid">
    <a (click)="addOrRemoveUpVote()" [class]="{'like': true, 'up-vote': true, 'active': liked}">
      <i class="fa-solid fa-circle-arrow-up"></i>
    </a>
    <a (click)="addOrRemoveDownVote()" [class]="{'like': true, 'down-vote': true, 'active': disliked}">
      <i class="fa-solid fa-circle-arrow-down"></i>
    </a>
    <div class="vote-count-wrapper">
      <span [class]="{'vote-count': true, 'up': likes > 0, 'down': likes < 0}">{{ likes }}</span>
    </div>
  </div>
  <div class="post-content-section">
    <div class="post-wrapper">
      <div class="post-category">{{ post?.category?.name }}</div>
      <div class="flex j-c-between a-i-center post-title">
        <h1>{{ post?.title }}</h1>
        <div class="flex edit-or-delete-post">
          <button
            [routerLink]="['/posts/edit']"
            [queryParams]="{post: post?.id}"
            class="btn btn-1 btn-rounded btn-s"
            *ngIf="post?.user?.id === currentUser?.id"
          >
            Edit
          </button>
          <button
            (click)="deletePost()"
            class="btn btn-2 btn-rounded btn-s"
            *ngIf="post?.user?.id === currentUser?.id || currentUser?.role?.authority === 'ROLE_MODERATOR'"
          >
            Delete
          </button>
        </div>
      </div>
      <div class="post-dates">
        <div>Created at: {{ post?.createdAt | date }}</div>
        <div>Last update: {{ post?.updatedAt | date:"medium" }}</div>
      </div>
      <div class="flex flex-wrap post-tags">
        <span *ngFor="let tag of post?.tags" class="tag">{{ tag.name }}</span>
      </div>
      <div id="post-content"></div>
      <div class="flex">
        <div class="user-avatar">
          <img src="https://picsum.photos/200/300" alt="user image">
        </div>
        <div>
          <a [routerLink]="['/users/details', post?.user?.id, post?.user?.username]">{{ post?.user?.username }}</a>
          <div>{{ post?.user?.role?.authority! | userRoleConverter }}</div>
        </div>
      </div>
    </div>
    <div class="flex next-previous-wrapper" *ngIf="post?.valid === null && currentUser?.role?.authority === 'ROLE_MODERATOR'">
      <button (click)="accept()" class="btn btn-rounded btn-2 btn-s">Accept</button>
      <button (click)="reject()" class="btn btn-rounded btn-2 btn-s">Reject</button>
    </div>
    <div class="comments-wrapper" *ngIf="post?.valid">
      <h2>Comment section</h2>
      <div class="new-comment-section">
        <div class="flex a-i-center add-validation-error-message" (click)="showCommentForm($event)">
          <i class="fa-regular fa-square-plus"></i>
          <span>Add comment</span>
        </div>
        <div class="form-wrapper-dark-2">
          <div class="user-avatar">
            <img src="https://picsum.photos/200/300" alt="user image">
          </div>
          <form [formGroup]="commentForm">
            <!-- CONTENT -->
            <div class="form-input-wrapper">
            <textarea
              formControlName="content"
              appInputLabelAnimation
              id="content"
              [class]="{'invalid': errors.get('content') && !commentForm.get('content')?.dirty}"
              placeholder="Write your comment here..."
            >
            </textarea>
              <label for="content">Comment<span class="input-required">*</span></label>
              <i class="fa-solid fa-circle-exclamation input-alert" *ngIf="errors.get('content') && !commentForm.get('content')?.dirty"></i>
            </div>
            <div *ngIf="errors.get('content')">
              <div *ngFor="let error of errors.get('content')" class="input-error">{{ error }}</div>
            </div>
            <div class="flex">
              <button (click)="createComment()" class="btn btn-squared btn-1 btn-s">Add</button>
              <button (click)="clearForm(commentForm)" type="button" class="btn btn-squared btn-2 btn-s">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <div class="comment-list">
        <div class="comment-card-wrapper" *ngIf="commentPageableOutputDto?.totalElements! > 0">
          <div class="comment-card flex" *ngFor="let comment of commentPageableOutputDto?.comments">
            <div class="user-avatar">
              <img src="https://picsum.photos/200/300" alt="user image">
            </div>
            <div class="card-body">
              <div class="flex">
                <a [routerLink]="['/users/details', comment.user.id, comment.user.username]" class="username">{{ comment?.user?.username }}</a>
                <div>{{ post?.user?.role?.authority! | userRoleConverter }}</div>
                <div class="comment-date">{{ comment?.updatedAt | date:"medium" }}</div>
              </div>
              <div class="comment-content">{{ comment?.content }}</div>
              <div class="flex update-or-delete-comment" *ngIf="comment.user.id === currentUser?.id">
<!--                TODO: implements edit and delete comments -->
                <button class="btn btn-squared btn-1 btn-s">Edit</button>
                <button type="button" class="btn btn-squared btn-2 btn-s">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="flex next-previous-wrapper" *ngIf="commentPageableOutputDto?.totalElements! > 0">
          <button (click)="previousPage()" class="btn btn-rounded btn-2 btn-s" [disabled]="commentPage < 1">Previous</button>
          <button (click)="nextPage()" class="btn btn-rounded btn-2 btn-s" [disabled]="commentPage + 1 === commentPageableOutputDto?.totalPages">Next</button>
        </div>
        <div class="flex j-c-center a-i-center placeholder" *ngIf="commentPageableOutputDto?.totalElements! === 0">No comments found</div>
      </div>
    </div>
  </div>
</div>
