@import "../../../../../styles/variables";

.user-details-section {

  > .user-details {
    margin-bottom: 3em;
    gap: 2em;

    > .user-avatar {
      width: 150px;
      height: 150px;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid $color-2;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    > .flex {
      flex-grow: 1;
    }
    .user-infos {
      margin-bottom: 1em;
      flex-grow: 1;

      > .flex:first-child {
        gap: 1em;
      }
      .username {
        font-size: 2.5em;
        font-weight: 500;
        color: $color-2;
      }
      .role {
        width: fit-content;
      }
      .email {
        font-size: 1.2em;
      }
      .full-name {
        font-size: 1.2em;
      }
      > .user-dates {
        font-size: 1em;
      }
    }
    .edit-delete-block-section {
      gap: 0.7em;
      align-self: start;

      > .promote-or-demote-section {
        position: relative;

        > .form-wrapper-dark-2 {
          padding: 2em;
          width: fit-content;
          position: absolute;
          top: calc(100% + 1em);
          left: 50%;
          translate: -50%;
          display: none;

          &.active {
            display: block;
          }
          &::after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent $color-3 transparent;
          }
          > form {

            .flex:last-child {
              gap: 1em;

              > .btn {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
  .section-title {
    margin-bottom: 1em;
    font-size: 1.8em;
    color: $color-2;
  }
  .placeholder {
    font-size: 1.3em;
    color: $color-4;
  }
  > .user-posts,
  > .user-comments {
    padding-block: 3em;
    border-bottom: 1px solid $color-4;
  }
  > .user-posts {

    > .user-posts-list {
      margin-bottom: 1.5em;
      gap: 2em;

      > .user-post {
        padding: 1.5em;
        width: calc((100% / 2) - 1em);
        border: 1px solid $color-4;
        border-radius: 0.5em;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 10px 0 rgba($color-2, 0.5);
          border-color: $color-2;
        }
        > .user-post-category {
          margin-bottom: 0.5em;
        }
        > .user-post-title {
          font-size: 1.8em;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          color: $color-2;
        }
        > .user-post-body {

          > .votes-count {
            margin-bottom: 0.5em;
            font-size: 1em;
          }
          > .tags-wrapper {
            gap: 0.5em;
          }
        }
      }
    }
  }
  > .user-comments {

    > .user-comments-list {
      margin-bottom: 1.5em;
      gap: calc(4em / 3);

      > .user-comment {
        padding: 1em;
        width: calc((100% / 4) - 1em);
        border: 1px solid $color-4;
        border-radius: 0.5em;

        .user-comment-content {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

// media queries
@media screen and (max-width: 1400px) {
  .user-details-section {

    > .user-comments {

      > .user-comments-list {
        gap: calc(3em / 2);

        > .user-comment {
          width: calc((100% / 3) - 1em);
        }
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .user-details-section {

    > .user-details {
      flex-direction: column;
      gap: 1em;
    }
    > .user-posts {

      > .user-posts-list {

        .user-post {
          width: 100%;
        }
      }
    }
    > .user-comments {

      > .user-comments-list {
        gap: 1em;

        > .user-comment {
          width: calc((100% / 2) - 0.5em);
        }
      }
    }
  }
}
@media screen and (max-width: 940px) {
  .user-details-section {

    > .user-details {

      > .user-avatar {
        align-self: center;
      }
      .user-infos {
        text-align: center;

        > .flex:first-child {
          margin-bottom: 1em;
          flex-direction: column;
        }
      }
      .edit-delete-block-section {
        justify-content: center;
      }
    }
    > .user-comments {

      > .user-comments-list {

        > .user-comment {
          width: 100%;
        }
      }
    }
  }
}
