<div class="user-details-section">
  <div class="flex user-details">
    <div class="user-avatar">
      <img src="https://picsum.photos/200/300" alt="user image">
    </div>
    <div class="flex flex-wrap j-c-between">
      <div class="user-infos">
        <div class="flex a-i-center">
          <div class="username">{{ user?.username }}</div>
          <span class="role tag">{{ user?.role?.authority! | userRoleConverter }}</span>
        </div>
        <div *ngIf="user?.id === currentUser?.id">
          <div class="email">{{ user?.email }}</div>
          <div class="full-name">{{ user?.firstName }} {{ user?.lastName }}</div>
        </div>
        <div class="user-dates">
          <div>Birthdate {{ user?.birthdate | date }} 🎂</div>
          <div>Member since {{ user?.createdAt | date }}</div>
          <div>Last update {{ user?.updatedAt | date:"medium" }}</div>
        </div>
      </div>
      <div class="flex flex-wrap edit-delete-block-section" *ngIf="user?.id === currentUser?.id || currentUser?.role?.authority !== 'ROLE_USER'">
        <button [routerLink]="['/']" class="btn btn-rounded btn-1 btn-s" *ngIf="user?.id === currentUser?.id">Edit</button>
        <div class="promote-or-demote-section">
          <button
            *ngIf="user?.id !== currentUser?.id && (currentUser?.role?.authority === 'ROLE_ADMIN' || currentUser?.role?.authority === 'ROLE_SUPER_ADMIN')"
            (click)="togglePromoteForm()"
            class="btn btn-rounded btn-2 btn-s"
          >
            Promote or demote
          </button>
          <div [class]="{'form-wrapper-dark-2': true, 'active': isFormActive}">
            <form [formGroup]="promoteOrDemoteForm">
              <div class="flex a-i-center custom-input-label">
                <div>Role</div>
              </div>
              <div class="radio-group">
                <div class="custom-radio-wrapper" *ngFor="let role of roles">
                  <input type="radio" [value]="role.id" [id]="role.authority" formControlName="role">
                  <label [for]="role.authority">{{ role.authority | userRoleConverter }}</label>
                </div>
              </div>
              <div class="flex">
                <button (click)="promoteOrDemote()" class="btn btn-squared btn-1 btn-s">Confirm</button>
                <button (click)="togglePromoteForm()" type="button" class="btn btn-squared btn-2 btn-s">Cancel</button>
              </div>
            </form>
          </div>
        </div>
        <button
          *ngIf="user?.id !== currentUser?.id && currentUser?.role?.authority === 'ROLE_MODERATOR' && user?.role?.authority === 'ROLE_USER'"
          (click)="blockOrUnblock()"
          [class]="{'btn': true, 'btn-rounded': true, 'btn-s': true, 'btn-1': user?.blocked, 'btn-2': !user?.blocked}"
        >
          {{ user?.blocked ? "Unblock" : "Block" }}
        </button>
        <button
          *ngIf="user?.id === currentUser?.id || (currentUser?.role?.authority !== 'ROLE_USER' && user?.role?.authority === 'ROLE_USER')"
          (click)="delete()"
          class="btn btn-rounded btn-2 btn-s"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="user-posts">
    <div class="section-title">Recent posts</div>
    <div class="flex flex-wrap user-posts-list" *ngIf="validPostPageableOutputDto && validPostPageableOutputDto.posts.length > 0">
      <div [routerLink]="['/posts/details', post.user.id, post.id, post.title.replaceAll(' ', '-')]" class="user-post" *ngFor="let post of validPostPageableOutputDto?.posts">
        <div class="user-post-category">{{ post.category.name }}</div>
        <div class="user-post-title">{{ post.title }}</div>
        <div class="user-post-body">
          <div class="votes-count">Votes: {{ post.votes.length }}</div>
          <div class="flex flex-wrap tags-wrapper">
            <span class="tag" *ngFor="let tag of post.tags">{{ tag.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex next-previous-wrapper" *ngIf="validPostPageableOutputDto && validPostPageableOutputDto.posts.length > 0">
      <button (click)="previousValidPostPage()" class="btn btn-squared btn-2 btn-s" [disabled]="validPostPage < 1">Previous</button>
      <button (click)="nextValidPostPage()" class="btn btn-squared btn-2 btn-s" [disabled]="validPostPage + 1 === validPostPageableOutputDto.totalPages || !validPostPageableOutputDto.totalPages">Next</button>
    </div>
    <div class="placeholder" *ngIf="!validPostPageableOutputDto || validPostPageableOutputDto.posts.length === 0">This user has not published any articles</div>
  </div>
  <div class="user-posts" *ngIf="user?.id === currentUser?.id || currentUser?.role?.authority !== 'ROLE_USER'">
    <div class="section-title">Post rejected</div>
    <div class="flex flex-wrap user-posts-list" *ngIf="invalidPostPageableOutputDto && invalidPostPageableOutputDto.posts.length > 0">
      <div [routerLink]="['/posts/details', post.user.id, post.id, post.title.replaceAll(' ', '-')]" class="user-post" *ngFor="let post of invalidPostPageableOutputDto?.posts">
        <div class="user-post-category">{{ post.category.name }}</div>
        <div class="user-post-title">{{ post.title }}</div>
        <div class="user-post-body">
          <div class="votes-count">Votes: {{ post.votes.length }}</div>
          <div class="flex flex-wrap tags-wrapper">
            <span class="tag" *ngFor="let tag of post.tags">{{ tag.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex next-previous-wrapper" *ngIf="invalidPostPageableOutputDto && invalidPostPageableOutputDto.posts.length > 0">
      <button (click)="previousInvalidPostPage()" class="btn btn-squared btn-2 btn-s" [disabled]="invalidPostPage < 1">Previous</button>
      <button (click)="nextInvalidPostPage()" class="btn btn-squared btn-2 btn-s" [disabled]="invalidPostPage + 1 === invalidPostPageableOutputDto.totalPages || !invalidPostPageableOutputDto.totalPages">Next</button>
    </div>
    <div class="placeholder" *ngIf="!invalidPostPageableOutputDto || invalidPostPageableOutputDto.posts.length === 0">No post rejected has been found</div>
  </div>
  <div class="user-posts" *ngIf="user?.id === currentUser?.id || currentUser?.role?.authority !== 'ROLE_USER'">
    <div class="section-title">Pending post</div>
    <div class="flex flex-wrap user-posts-list" *ngIf="pendingPostPageableOutputDto && pendingPostPageableOutputDto.posts.length > 0">
      <div [routerLink]="['/posts/details', post.user.id, post.id, post.title.replaceAll(' ', '-')]" class="user-post" *ngFor="let post of pendingPostPageableOutputDto?.posts">
        <div class="user-post-category">{{ post.category.name }}</div>
        <div class="user-post-title">{{ post.title }}</div>
        <div class="user-post-body">
          <div class="votes-count">Votes: {{ post.votes.length }}</div>
          <div class="flex flex-wrap tags-wrapper">
            <span class="tag" *ngFor="let tag of post.tags">{{ tag.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex next-previous-wrapper" *ngIf="pendingPostPageableOutputDto && pendingPostPageableOutputDto.posts.length > 0">
      <button (click)="previousPendingPostPage()" class="btn btn-squared btn-2 btn-s" [disabled]="pendingPostPage < 1">Previous</button>
      <button (click)="nextPendingPostPage()" class="btn btn-squared btn-2 btn-s" [disabled]="pendingPostPage + 1 === pendingPostPageableOutputDto.totalPages || !pendingPostPageableOutputDto.totalPages">Next</button>
    </div>
    <div class="placeholder" *ngIf="!pendingPostPageableOutputDto || pendingPostPageableOutputDto.posts.length === 0">No posts waiting for approval has been found</div>
  </div>
  <div class="user-comments">
    <div class="section-title">Recent comments</div>
    <div class="flex flex-wrap user-comments-list" *ngIf="commentPageableOutputDto && commentPageableOutputDto.comments.length > 0">
      <div class="user-comment" *ngFor="let comment of commentPageableOutputDto?.comments">
        <div class="user-comment-content">{{ comment.content }}</div>
        <div class="user-comment-body">{{ comment.createdAt | date }}</div>
      </div>
    </div>
    <div class="flex next-previous-wrapper" *ngIf="commentPageableOutputDto && commentPageableOutputDto.comments.length > 0">
      <button (click)="previousCommentPage()" class="btn btn-squared btn-2 btn-s" [disabled]="commentPage < 1">Previous</button>
      <button (click)="nextCommentPage()" class="btn btn-squared btn-2 btn-s" [disabled]="commentPage + 1 === commentPageableOutputDto.totalPages || !commentPageableOutputDto.totalPages">Next</button>
    </div>
    <div class="placeholder" *ngIf="!commentPageableOutputDto || commentPageableOutputDto.comments.length === 0">This user has not commented on any articles</div>
  </div>
</div>
