@import "src/styles/variables.scss";

.not-found {
  .not-found-img {
    margin-inline: auto;
    width: 50%;
    filter: grayscale(100%);
    position: relative;
  }
  .not-found-content {
    text-align: center;
    position: relative;
    top: 50%;
    left: calc(50% - 5px);
    translate: -50% -150%;

    .not-found-code {
      font-size: 5em;
      color: $color-2;
    }
    .not-found-message {
      margin-bottom: 0.5em;
      font-size: 2.2em;
    }
  }
}
