@import "src/styles/variables.scss";

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;

  .header-dec {
    height: 3px;
    background: linear-gradient(90deg, $color-1 50%, $color-2 50%);
  }
  header {
    padding-block: 1.2em;
    border-bottom: 1px solid $color-4;
    background-color: #2d2d2d;

    .nav-l {
      gap: 1em;

      .nav-links {
        li {
          padding: 0.5em 2em;
        }
      }
    }
    .nav-r {
      .nav-links {
        gap: 1em;
      }
    }
  }
}
