@import "src/styles/variables.scss";

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .header-dec {
    height: 3px;
    background: linear-gradient(90deg, $color-1 50%, $color-2 50%);
  }
  header {
    border-bottom: 1px solid $color-4;
    background-color: $main-color;

    > .container-s {
      height: 60px;

      > .flex {
        height: 100%;

        > .nav-l {
          height: 100%;
          gap: 1em;

          .nav-links {
            li {
              padding: 0.5em 2em;
            }
          }
        }
        > .nav-r {
          gap: 3em;

          > .user-profile-section {
            gap: 0.5em;
            cursor: pointer;

            &:hover {
              color: $color-2;
            }
            .user-avatar {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
              flex-shrink: 0;
              border: 2px solid $color-2;

              > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .user-username {
              font-size: 1.2em;
            }
          }
          .nav-links {
            gap: 1em;
          }
        }
      }
    }
  }
}
