<div class="header">
  <div class="flex header-dec"></div>
  <header>
    <div class="container container-s">
      <nav class="flex j-c-between">
        <div class="nav-l flex a-i-center">
          <div routerLink="/" class="logo">FAKE-OVERFLOW</div>
        </div>
        <div class="nav-r">
          <ul class="flex nav-links">
            <li>
              <a routerLink="/users/sign-in" class="btn btn-squared btn-1 btn-s">Sign in</a>
            </li>
            <li>
              <a routerLink="/users/sign-up" class="btn btn-squared btn-2 btn-s">Sign up</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</div>
