<div class="container-l">
  <h2>{{ formField }}</h2>
  <div class="validation-details-wrapper">
    <div *ngIf="!validation" class="flex j-c-center a-i-center placeholder">
      <div class="flex flex-column a-i-center">
        <i class="fa fa-exclamation-triangle"></i>
        <p>No validation rules set for this field</p>
        <a [routerLink]="['../../edit', formField.split(' ')[0], formField.split(' ')[2]]" class="btn btn-rounded btn-2 btn-s">Set up now</a>
      </div>
    </div>
    <div *ngIf="validation" class="validation-validators-wrapper">
      <div class="flex j-c-between validation-validators">
        <div>
          <div>
            <span class="validator-label">Code: </span>
            <span class="validator-value">{{ validation.code }}</span>
          </div>
          <div>
            <span class="validator-label">Created by: </span>
            <span class="validator-value">{{ validation.createdBy }}</span>
          </div>
          <div>
            <span class="validator-label">Updated by: </span>
            <span class="validator-value">{{ validation.updatedBy }}</span>
          </div>
          <div>
            <span class="validator-label">Created at: </span>
            <span class="validator-value">{{ validation.createdAt | date }}</span>
          </div>
          <div>
            <span class="validator-label">Updated at: </span>
            <span class="validator-value">{{ validation.updatedAt | date:"medium" }}</span>
          </div>
          <div>
            <span class="validator-label">Not null: </span>
            <span class="validator-value">{{ validation.notNull }}</span>
          </div>
          <div>
            <span class="validator-label">Not empty: </span>
            <span class="validator-value">{{ validation.notEmpty }}</span>
          </div>
        </div>
        <div>
          <div>
            <span class="validator-label">Min: </span>
            <span class="validator-value">{{ validation.min ? validation.min : "UNSET" }}</span>
          </div>
          <div>
            <span class="validator-label">Max: </span>
            <span class="validator-value">{{ validation.max ? validation.max : "UNSET" }}</span>
          </div>
          <div>
            <span class="validator-label">Regex: </span>
            <span class="validator-value">{{ validation.regex ? "SET" : "UNSET" }}</span>
          </div>
          <div>
            <span class="validator-label">Min uppercase letters: </span>
            <span class="validator-value">{{ validation.minUpperCaseLetters ? validation.minUpperCaseLetters : "UNSET" }}</span>
          </div>
          <div>
            <span class="validator-label">Min lowercase letters: </span>
            <span class="validator-value">{{ validation.minLowerCaseLetters ? validation.minLowerCaseLetters : "UNSET" }}</span>
          </div>
          <div>
            <span class="validator-label">Min digits: </span>
            <span class="validator-value">{{ validation.minDigits ?  validation.minDigits : "UNSET" }}</span>
          </div>
          <div>
            <span class="validator-label">Min special characters: </span>
            <span class="validator-value">{{ validation.minSpecialCharacters ? validation.minSpecialCharacters : "UNSET" }}</span>
          </div>
        </div>
      </div>
      <div class="flex edit-or-delete-section">
        <a [routerLink]="['../../edit', formField.split(' ')[0], formField.split(' ')[2]]" class="btn btn-squared btn-1 btn-s">Edit</a>
        <a (click)="deleteValidation(validation.code)" class="btn btn-squared btn-2 btn-s">Delete</a>
      </div>
      <div (click)=showErrorMessages($event) class="validation-error-messages-wrapper">
        <div class="flex j-c-between a-i-center">
          <span>Error Messages</span>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="validation-error-messages">
          <div class="add-validation-error-message-wrapper">
            <div (click)="showErrorMessageForm($event)" class="flex a-i-center add-validation-error-message">
              <i class="fa-regular fa-square-plus"></i>
              <span>Add new error message {{ checkDisabledRadioButton() ? "(Limit reached)" : "" }}</span>
            </div>
            <div class="new-validation-error-message">
              <div class="form-wrapper-dark-2">
                <form [formGroup]="errorMessageForm">
                  <div [class]="{'custom-input-label': true, 'flex': true, 'a-i-center': true, 'input-error': errorMessageForm.get('errorType')?.invalid}">
                    <i class="fa-solid fa-circle-exclamation input-alert" *ngIf="errorMessageForm.get('errorType')?.invalid"></i>
                    <div>Error type<span class="input-required">*</span></div>
                  </div>
                  <div class="radio-group">
                    <div class="custom-radio-wrapper">
                      <input type="radio" value='notNull' id="not-null" formControlName="errorType">
                      <label for="not-null">Not null</label>
                    </div>
                    <div class="custom-radio-wrapper">
                      <input type="radio" value='notEmpty' id="not-empty" formControlName="errorType">
                      <label for="not-empty">Not empty</label>
                    </div>
                    <div class="custom-radio-wrapper">
                      <input type="radio" value='min' id="min" formControlName="errorType">
                      <label for="min">Min</label>
                    </div>
                    <div class="custom-radio-wrapper">
                      <input type="radio" value='max' id="max" formControlName="errorType">
                      <label for="max">Max</label>
                    </div>
                    <div class="custom-radio-wrapper">
                      <input type="radio" value='regex' id="regex" formControlName="errorType">
                      <label for="regex">Regex</label>
                    </div>
                    <div class="custom-radio-wrapper">
                      <input type="radio" value='minUpperCaseLetters' id="min-uppercase-letters" formControlName="errorType">
                      <label for="min-uppercase-letters">Min uppercase letters</label>
                    </div>
                    <div class="custom-radio-wrapper">
                      <input type="radio" value='minLowerCaseLetters' id="min-lower-letters" formControlName="errorType">
                      <label for="min-lower-letters">Min lowercase letters</label>
                    </div>
                    <div class="custom-radio-wrapper">
                      <input type="radio" value='minDigits' id="min-digits" formControlName="errorType">
                      <label for="min-digits">Min digits</label>
                    </div>
                    <div class="custom-radio-wrapper">
                      <input type="radio" value='minSpecialCharacters' id="min-special-characters" formControlName="errorType">
                      <label for="min-special-characters">Min special characters</label>
                    </div>
                  </div>
                  <div *ngIf="errorMessageForm.get('errorType')?.invalid">
                    <div class="input-error">Error type is required</div>
                  </div>
                  <div class="form-input-wrapper">
                    <input
                      formControlName="newErrorMessage"
                      appInputLabelAnimation
                      type="text"
                      id="new-error-message"
                      maxlength="150"
                      [class]="{'invalid': errorMessageForm.get('newErrorMessage')?.invalid && !errorMessageForm.get('newErrorMessage')?.dirty}">
                    <label for="new-error-message">New error message<span class="input-required">*</span></label>
                    <i class="fa-solid fa-circle-exclamation input-alert" *ngIf="errorMessageForm.get('newErrorMessage')?.invalid"></i>
                  </div>
                  <div *ngIf="errorMessageForm.get('newErrorMessage')?.invalid">
                    <div class="input-error">Message is required</div>
                  </div>
                  <div class="hint">Max 150 characters</div>
                  <div class="flex edit-or-delete-section">
                    <button (click)="createErrorMessage()" class="btn btn-squared btn-1 btn-s">Add</button>
                    <button (click)="clearForm(errorMessageForm)" type="button" class="btn btn-squared btn-2 btn-s">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div *ngFor="let errorMessage of validation.errorMessages" class="validation-error-message">
            <div>{{ errorMessage.errorType.split(".")[2] }}: {{ errorMessage.message }}</div>
            <div class="flex j-c-between validation-error-message-body">
              <div>
                <div>created by: {{ errorMessage.createdBy }}</div>
                <div>updated by: {{ errorMessage.updatedBy }}</div>
              </div>
              <div>
                <div>created at: {{ errorMessage.createdAt | date }}</div>
                <div>updated at: {{ errorMessage.updatedAt | date:"medium" }}</div>
              </div>
            </div>
            <div class="flex edit-or-delete-section">
              <a (click)="showEditErrorMessageForm(errorMessage.id)" class="btn btn-squared btn-1 btn-s">Edit message</a>
              <a (click)="deleteErrorMessage(errorMessage.id)" class="btn btn-squared btn-2 btn-s">Delete</a>
            </div>
            <div [id]="'edit-form-' + errorMessage.id" class="edit-validation-error-message">
              <div class="form-wrapper-dark-2">
                <form [formGroup]="editErrorMessageForm">
                  <div class="form-input-wrapper">
                    <input
                      formControlName="editErrorMessage"
                      appInputLabelAnimation
                      type="text"
                      id="edit-error-message"
                      maxlength="150"
                      [class]="{'invalid': editErrorMessageForm.get('editErrorMessage')?.invalid && !editErrorMessageForm.get('editErrorMessage')?.dirty}">
                    <label for="edit-error-message" [id]="'edit-input-label-' + errorMessage.id">Edit error message<span class="input-required">*</span></label>
                    <i class="fa-solid fa-circle-exclamation input-alert" *ngIf="editErrorMessageForm.get('editErrorMessage')?.invalid"></i>
                  </div>
                  <div *ngIf="editErrorMessageForm.get('editErrorMessage')?.invalid">
                    <div class="input-error">Message is required</div>
                  </div>
                  <div class="hint">Max 150 characters</div>
                  <div class="flex edit-or-delete-section">
                    <button (click)="updateErrorMessage(errorMessage)" class="btn btn-squared btn-1 btn-s">Confirm</button>
                    <button (click)="clearForm(editErrorMessageForm)" type="button" class="btn btn-squared btn-2 btn-s">Clear</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
