<div class="container-s">
  <div class="flex">
    <aside class="l-aside">
      <nav>
        <ul class="nav-links">
          <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
          </li>
          <li>
            <a routerLink="/posts" routerLinkActive="active" class="nav-link">Posts</a>
          </li>
          <li>
            <a routerLink="/categories" routerLinkActive="active" class="nav-link">Categories</a>
          </li>
          <li>
            <a routerLink="/tags" routerLinkActive="active" class="nav-link">Tags</a>
          </li>
          <li>
            <a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a>
          </li>
          <li *ngIf="userRole?.authority !== 'ROLE_USER'">
            <a routerLink="/validations" routerLinkActive="active" class="nav-link">Validations</a>
          </li>
        </ul>
      </nav>
    </aside>
    <section class="content">
      <div class="container-m">
        <router-outlet></router-outlet>
      </div>
    </section>
    <aside class="flex j-c-center r-aside">
      <div>Ads Placeholder</div>
    </aside>
  </div>
</div>
