@import "../../../../styles/variables";

.flex {

  .l-aside,
  .r-aside {
    flex-shrink: 0;
  }
  .l-aside {
    width: 160px;
    height: fit-content;
    position: sticky;
    top: 63px;

    .nav-links {
      padding-block: 1.5em;

      > li {

        > .nav-link:not(.active):hover {
          background-color: rgba($color-4, 0.8);
        }
        > a {
          padding: 0.75em 2em;
          display: block;

          &.active {
            color: $color-2;
            font-weight: 600;
            background-color: rgba($color-4, 0.3);
            box-shadow: -4px 0 0 0 $color-2 inset;
          }
        }
      }
    }
  }
  .content {
    width: calc(100% - 460px);
    border-left: 1px solid $color-4;
  }
  .r-aside {
    padding-top: 1.5em;
    width: 300px;
    color: $color-4;
    font-size: 1.5em;
    border-left: 1px solid $color-4;
  }
}
