<div class="post-list-section">
  <div class="flex j-c-between a-i-center">
    <h1>Posts</h1>
    <a routerLink="/posts/edit" class="btn btn-1 btn-rounded btn-s">New</a>
  </div>
  <div class="form-wrapper-dark-1">
    <form [formGroup]="postListForm" (keyup)="filterPosts()">
      <!-- TITLE -->
      <div>Filter posts by title</div>
      <div class="form-input-wrapper">
        <input
          formControlName="title"
          appInputLabelAnimation
          type="text"
          id="title"
        >
        <label for="title">Title</label>
      </div>
    </form>
  </div>
  <div class="flex next-previous-wrapper" *ngIf="postPageableOutputDto && postPageableOutputDto.posts.length > 0">
    <button (click)="previousPage()" class="btn btn-squared btn-2 btn-s" [disabled]="page < 1">Previous</button>
    <button (click)="nextPage()" class="btn btn-squared btn-2 btn-s" [disabled]="page + 1 === postPageableOutputDto.totalPages">Next</button>
  </div>
  <div class="flex flex-wrap posts-wrapper" *ngIf="postPageableOutputDto && postPageableOutputDto.posts.length > 0">
    <div *ngFor="let post of postPageableOutputDto?.posts" class="post-card-wrapper" [routerLink]="['/posts/details/', post.user.id, post.id, post.title.replaceAll(' ', '-')]">
      <div class="card post-card">
        <div class="post-category">{{ post.category.name }}</div>
        <div class="post-card-title">{{ post.title }}</div>
        <div class="post-card-body">
          <div>Created at: {{ post.createdAt | date }}</div>
          <div>Last update: {{ post.updatedAt | date:"medium" }}</div>
          <div class="flex flex-wrap">
            <span *ngFor="let tag of post.tags" class="tag">{{ tag.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="placeholder" *ngIf="!postPageableOutputDto || postPageableOutputDto.posts.length === 0">No post found</div>
  <div class="flex next-previous-wrapper" *ngIf="postPageableOutputDto && postPageableOutputDto.posts.length > 0">
    <button (click)="previousPage()" class="btn btn-squared btn-2 btn-s" [disabled]="page < 1">Previous</button>
    <button (click)="nextPage()" class="btn btn-squared btn-2 btn-s" [disabled]="page + 1 === postPageableOutputDto.totalPages">Next</button>
  </div>
</div>
